#grid {
    display: flex;
    flex-direction: column;
    border: black solid 5px;
    width: 960px;
    height: 960px;
}

.grid-row {
    display: flex;
    flex: auto
}

.grid-square {
    border: black solid 1px;
    box-sizing: border-box;
    flex: auto;
}

.hover {
    background-color: black;
}